@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-background{
    background: url("/background-light.png");
    background-size: contain;
}

.custom-background-darkmode{
    background: url("/background-dark.png");
    background-size: contain;
} 